<!-- First Parallax Section -->
<div class="jumbotron paral paralsec">
  <div class="background">
    <h1 class="display-3">Keesz Online</h1>
    <p class="lead">
      Play the online parcheesi game with your friends!
    </p>
    <p class="small">
      Oh! And cheating is allowed!
    </p>
    <p class="lead">
      <button class="btn btn-primary btn-lg btn-md" (click)="login()" role="button">Play now</button>
    </p>
  </div>
</div>

<!-- Second Parallax Section -->
<div class="jumbotron">
  <h1 class="display-3">Here is a heading 2</h1>
  <p class="lead">Here is a short description 2</p>
  <p class="lead">
    <a class="btn btn-warning btn-lg btn-md" href="widgets.html" role="button">Here is a button 2</a>
  </p>
</div>

<!-- Third Parallax Section -->
<div class="jumbotron paral paralsec1">
  <h1 class="display-3">Here is a heading 3</h1>
  <p class="lead">Here is a short description 2</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg btn-md" href="themes.html" role="button">Here is a button 3</a>
  </p>
</div>

<footer class="footer">
  <p>This is a Bootstrap 4 parallax page with jumbotron created by
    <a href="https://www.webnots.com/">WebNots Web Consulting Services</a>
  </p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>