<div class="loading">
    <svg width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
        class="lds-ripple">
        <circle cx="50" cy="50" r="31.8857" fill="none" ng-attr-stroke="#fff" ng-attr-stroke-width="1px" stroke="#ffffff"
            stroke-width="1">
            <animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="2" keySplines="0 0.2 0.8 1"
                begin="-1s" repeatCount="indefinite"></animate>
            <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="2" keySplines="0.2 0 0.8 1"
                begin="-1s" repeatCount="indefinite"></animate>
        </circle>
        <circle cx="50" cy="50" r="11.6256" fill="none" ng-attr-stroke="#fff" ng-attr-stroke-width="1px" stroke="#ffffff"
            stroke-width="1">
            <animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="2" keySplines="0 0.2 0.8 1"
                begin="0s" repeatCount="indefinite"></animate>
            <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="2" keySplines="0.2 0 0.8 1"
                begin="0s" repeatCount="indefinite"></animate>
        </circle>
    </svg>
</div>